<%- include header %>

  <div class="container">
    <h1>superadmin</h1>
  
    <table class="tablesorter" id="sorted-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Appointments (last 3 months)</th>
          <th>Account Created on</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% users.forEach(function(user, i){ %>
      <tr>
        <td>
          <div>
            <%= user.username %>
          </div>
          <% if (user.payment) { %>
            <span class="label label-success"><%= user.payment.type %> for <%= user.payment.interval %> months</span>
          <% } else { %>
            <span class="label label-warning">free</span>
          <% } %>
        </td>
        <td style="text-align: left;">
          
          <% if (user.events) { %>
            <div>
              <span>Number of messages sent: <strong><%= user.events.length %></strong></span>
            </div>
            <div>
              <span>Estimated price: <strong>$<%= user.events.length * 0.07367%></strong></span>
            </div>
            <% } else { %>
              <span class="label label-danger" style="font-size: 14px;">0</span>
            <% } %>
          </span>
        </td>
        <td style="text-align: center;">
          <% if (user.timecreated) { %>
            <%= moment(user.timecreated).format('YYYY-MM-DD') %>
          <% } %>
        </td>
        <td style="text-align: center;">
          <a href="/sa/delete-user/<%= user._id %>" class="btn btn-danger btn-sm">delete user</a>
        </td>
        <td style="font-size: 11px;">
          <div>
            <a href="/sa/upgrade-user/<%= user._id %>/1" class="upgrade-user">Upgrade for 1 month</a>
          </div>
          <div>
            <a href="/sa/upgrade-user/<%= user._id %>/3" class="upgrade-user">Upgrade for 2 months</a>
          </div>
          <div>
            <a href="/sa/upgrade-user/<%= user._id %>/12" class="upgrade-user">Upgrade for 1 year</a>
          </div>
        </td>
      </tr>
      <% }) %>
    </table>
    
      <p></p>
    
  </div>

<%- include footer %>