<% if (contacts.length) { %>

  <div id="contacts">
    <div class="search-contacts clearfix">
      <input class="search form-control" placeholder="Search" />
    </div>

    <div>
      <%= contacts.length %> contacts
    </div>

    <ul class="list list-unstyled">

      <% for(var i = 0; i < contacts.length; i++) { %>
        
        <li class="drag-item clearfix" data-duration="01:00" data-event='{"title": "<%= contacts[i].title %>", "number": "<%= contacts[i].number %>", "email": "<%= contacts[i].email %>"}'>
          
          <span class="name">
            <%= contacts[i].title %>
          </span>

          <a href="/api/1/contacts/<%= calendarId %>/delete/<%= contacts[i]._id %>" class="pull-right btn-confirm delete-contact">
            <i class="fa fa-trash"></i>
          </a>

          <a href="" class="pull-right edit-contact" data-email="<%= contacts[i].email %>" data-name="<%= contacts[i].title %>" data-id="<%= contacts[i]._id %>" data-number="<%= contacts[i].number %>">
            <i class="fa fa-pencil"></i>
          </a>
          
          <div>
            <span class="text-muted"><%= contacts[i].number %></span>
            <br>
            <span class="text-muted"><%= contacts[i].email || 'No email' %></span>
          </div>

        </li>

      <% } %>

    </ul>
  </div>

<% } else { %>

  <div class="alert alert-info">
    <p>You have no contacts yet.</p>
  </div>

<% } %>