<form action="" class="create-update <% if (event._id) { %> contact-details--show<% } %> <% if (!modal.contacts.length) { %> contact-new--show <% } %>" id="<%= modal.idName %>">
  
  <div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      
      <span aria-hidden="true">&times;</span>

    </button>
    
    <h4 class="modal-title" id="myModalLabel"><%= modal.title %> - <%= modal.start %> to <%= modal.end %></h4>

  </div>

  <div class="modal-body">
      <div class="alert alert-danger"></div>

      <% if (modal.contacts.length) { %>
        <div class="form-group find-contact">
          <label for="" class="clearfix" style="display: block;">
            Find client by name 
            <a href="" class="add-new-contact pull-right">Add new contact</a>
          </label>
          <select name="" id="select-contact" class="form-control">
            <option value="">-- Click here to find client --</option>
            <% modal.contacts.forEach(function(contact){ %>  
              <option value="<%= contact._id %>"><%= contact.name %></option>
            <% }) %>
          </select>

        </div>
      <% } %>
      

      <div class="contact-new">

        <div class="form-group">
          
          <label for="" class="control-label">Client Name</label>
          
          <input type="text" name="name" id="" class="form-control" value="<%= event.title %>" required>

        </div>
        
        <div class="form-group">
          
          <label for="" class="control-label">Client Phone Number </label>
          
          <input type="tel" name="number" id="" class="form-control mobile-number" value="<%= event.number %>" required>

        </div>

        <div class="form-group">
          
          <label for="" class="control-label">Client email (optional)</label>
          
          <input type="email" name="email" id="" class="form-control" value="<%= event.email || '' %>" required>

        </div>

      </div> <!-- client-new -->

      <div class="contact-details">
        <% if (event._id) { %>
          <span class="close">&times;</span>
          <h3 class="contact-name"><%= event.name %></h3>
          <span class="contact-number"><%= event.number %></span>
          <br>
          <span class="contact-number"><%= event.email || 'No email' %></span>
          <br>
          <a href="" class="change-contact">Change contact details</a>
        <% } %>
      </div>      

      <div class="form-group">
        <label for="">Send Reminder</label>
        <div>
          <select name="reminder-unit" id="">
            <option value="1" <% if (modal.reminderUnit === 1) { %> selected <% } %>>1</option>
            <option value="2" <% if (modal.reminderUnit === 2) { %> selected <% } %>>2</option>
            <option value="3" <% if (modal.reminderUnit === 3) { %> selected <% } %>>3</option>
            <option value="4" <% if (modal.reminderUnit === 4) { %> selected <% } %>>4</option>
            <option value="5" <% if (modal.reminderUnit === 5) { %> selected <% } %>>5</option>
            <option value="6" <% if (modal.reminderUnit === 6) { %> selected <% } %>>6</option>
          </select>

          <select name="reminder-type" id="">
            <option value="hours" <% if (modal.reminderUnit < 6) { %> selected <% } %>>hours</option>
            <option value="days" <% if (modal.reminderUnit > 6) { %> selected <% } %>>days</option>
          </select>

          before the appointment
        </div>
      </div>
      
      <div class="form-group">
        <div class="checkbox repeat-toggle">
          <label>
            <input type="checkbox" name="repeatActive" id="" <% if (event.repeatActive) {%> checked="checked" <% } %>> <strong>Repeat event</strong>
          </label>
        </div>
      </div>

      <div class="repeat-event <% if (event.repeatActive) {%> repeat-show <% } %>">
        <div class="form-group">
          <label>Repeat every</label>
          <select name="repeatInterval" class="form-control">
            <option value="1" <% if (event.repeatInterval === 1) { %> selected <% } %>>1 month</option>
            <option value="3" <% if (event.repeatInterval === 3) { %> selected <% } %>>3 months</option>
            <option value="6" <% if (event.repeatInterval === 6) { %> selected <% } %>>6 months</option>
            <option value="12" <% if (event.repeatInterval === 12) { %> selected <% } %>>1 year</option>
          </select>
        </div>

        <div class="form-group">
          <label>Starting with: <span class="repeat-start-date"> <% if (event.repeatStartDate) {%> <%= moment(event.repeatStartDate).format('DD MMMM YYYY') %> <% } else { %> Choose date from calendar <% } %></span></label>
          <div id="repeat-calendar"></div>
          <input type="hidden" name="repeatStartDate" value="<%= event.repeatStartDate || ''%>">
        </div>
      </div>
      
      <div class="form-group">
        
        <label for="">Select template</label>
        
        <select name="" id="" class="modal-template-select form-control" >
          <% event.templates.forEach(function(template, i){ %>
            <option value="<%= template._id %>" <% if(template._id === event.templateId){ %>  <% } %>><%= template.name %></option>
          <% }) %>
        </select>

      </div>
      
      <div class="modal-message-preview cf">
        <label for="" class="control-label">Message Preview</label>
        <div class="textarea-cover"></div>
        <textarea name="message" id="" cols="30" rows="10" class="form-control"><%= event.message %></textarea>
        <span id="charNum"></span>
      </div>
      

      <input type="hidden" name="_id" value="<%= event._id %>">
      <input type="hidden" name="start" value="<%= event.start %>">
      <input type="hidden" name="end" value="<%= event.end %>">
      <input type="hidden" name="templateId" value="<%= event.templateId %>">
      
    
  </div>
  
  <div class="modal-footer">
    
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    
    <a class="btn btn-primary create">Create</a>
    
    <a class="btn btn-primary update">Update</a>

  </div>

</form>