  <%- include ../partials/header %>

  <div class="container settings">
    
    <div class="row">
      <div class="col-md-3">
          
        <ul class="nav nav-pills nav-stacked">
          
          <li><a href="/settings/account">Account</a></li>
          
          <li class="active"><a href="/settings/templates">Templates</a></li>

          <li><a href="/settings/billing">Billing</a></li>

        </ul>

      </div>
      <div class="col-md-8">
        
        <h2>Templates</h2>
        
        <div class="row">
          
          <div class="col-md-4">
            
            <ul class="list-unstyled template-list">
              
              <% templates.forEach(function(template){ %>
                
                <li data-name="<%= template.name %>" data-message="<%= template.message %>" data-id="<%= template._id %>">
                  <a href=""><%= template.name %></a>
                </li>

              <% }) %>

            </ul>

            <a href="" class="btn btn-primary btn-small template-add-new">Add new template</a>

          </div>

          <div class="col-md-8">

            <form action="/settings/templates" method="post" class="form-template">
              
              <div class="form-empty">
                <a href="" class="template-add-new">Click here to create a new template</a>
              </div>

              <div class="form-fields">

                <div class="form-group">
                  <label for="">Template Name</label>
                  <input type="text" name="name" id="" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="">Template Message</label>
                  <textarea required name="message" id="" cols="10" rows="3" class="form-control">Reminder: you have an appointment on {date} starting at {time} with {full_name} from {company_name}.</textarea>
                </div>

                <input type="hidden" value="<%= user._id %>" name="userId">
                <input type="hidden" value="" name="templateId">
                

                <button type="submit" class="btn btn-primary pull-right">Save Template</button>

                <a href="" class="btn btn-default pull-right">Cancel</a>

                <a href="" class="btn btn-danger pull-left template-remove">Delete Template</a>

              </div>

            </form>

          </div>

        </div>

      </div>
    </div>

  </div>

  <%- include ../partials/footer %>