<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Apunto Dashboard
  </title>
  
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  
  <script src="bower_components/moment/min/moment.min.js"></script>

  <script src="bower_components/jquery-ui/ui/core.js"></script>
  <script src="bower_components/jquery-ui/ui/widget.js"></script>
  <script src="bower_components/jquery-ui/ui/mouse.js"></script>
  <script src="bower_components/jquery-ui/ui/draggable.js"></script>
  
  <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
  
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <script src="bower_components/ejs/ejs.js"></script>

  <script src="bower_components/intl-tel-input/build/js/intlTelInput.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css">
  
  <link rel="stylesheet" href="style/app.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="bower_components/intl-tel-input/build/css/intlTelInput.css">

  <script src="scripts/app.js"></script>
  <script src="scripts/search-drag-drop.js"></script>
   <script src="scripts/onboarding.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          
          <div class="navbar-header">
            
            <a href="/dashboard" class="navbar-brand">
              <span class="logo"></span>
            </a>

          </div> <!-- navbar-header -->

          <a href="" class="show-clients pull-right"><i class="fa fa-search"></i></a>

          <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <%= user.username %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/settings"><i class="fa fa-cog"></i> Settings</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/signout"> <i class="fa fa-power-off"></i> Log out</a></li>
            </ul>
          </div>

        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </nav>
        
  <div class="calendar" data-calendarid="<%= calendar._id %>" data-companyname="<%= user.companyName %>" data-username="<%= user.name %>" >
    
  </div>

  <div class="contacts-list" data-userid="<%= user._id %>" >

    <div class="contacts-list-header">
      <div class="search-input fa fa-search">
        <input type="text" class="form-control" placeholder="Search contacts" name="srch-term" id="srch-term">
      </div><!-- search-input -->

      <a href="" class="close"><i class="fa fa-times"></i></a>
    </div>
      
    
        
    <div class="contacts-list-content">
    </div>
    
  </div>

  <div class="onboarding">
    <div class="step1">
      <h1>Please forgive our manners. We forgot to ask...</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          
         <form action="" class="onboarding-form">
           <div class="form-group">
             <label for="" class="control-label ">What is your full name?</label>
             <input type="text" class="form-control input-lg" name="name" required>
           </div>

           <div class="form-group">
             <label for="" class="control-label">What is your company's name?</label>
             <input type="text" class="form-control input-lg" name="companyName" required>
           </div>

           <button type="submit" class="btn btn-primary btn-lg save-onboarding">Save</button>

         </form>

        </div>
      </div>
    </div>

    <div class="step2">
      <h1>One short tutorial and we're out of your hair (it's a gif)</h1>
      <div class="image-wrap">
        <img src="images/tutorial-1.gif" alt="">
      </div>
      <a href="" class="btn btn-primary btn-lg hide-onboarding">Ok, got it</a>
    </div>
  </div>


  <div class="modal" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      
        <div class="modal-content">
          
        </div> <!-- modal-content -->
      
    </div>
  </div>
  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
  (function(){ var widget_id = 'CrZt9f212R';
  var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
  <!-- {/literal} END JIVOSITE CODE -->
</body>
</html>
