<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Apunto Dashboard
  </title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="libs/jquery.weekcalendar/jquery.weekcalendar.css">
  
  <script src="//code.jquery.com/jquery-1.8.0.min.js "></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>

  <script src="libs/jquery.weekcalendar/date.js"></script>
  <script src="libs/jquery.weekcalendar/jquery.weekcalendar.js"></script>

  <script>
    $(document).ready(function () {

      var year = new Date().getFullYear();
        var month = new Date().getMonth();
        var day = new Date().getDate();

      var showModal = function (calEvent, calElement, freeBusyManager, calendar, DomEvent) {
        
        calEvent.end = new Date(year, month, day, 13, 35);
      };
  
      $('#calendar').weekCalendar({
        timeslotsPerHour: 4,
        //timeslotHeigh: 20,
        hourLine: true,
        data: {
          events: [
            {"id":1, "start": new Date(year, month, day, 12), "end": new Date(year, month, day, 13, 35),"title":"Lunch with Mike"}
          ]
        },
        height: function () {
          return 500;
        },
        businessHours: {start: 8, end: 18, limitDisplay: true},
        firstDayOfWeek: 1,
        daysToShow: 5,
        use24Hour: true,
        eventNew: function (calEvent, calElement, freeBusyManager, calendar, DomEvent) {
          showModal(calEvent, calElement, freeBusyManager, calendar, DomEvent);
        },
        eventDrop: function () {
          console.log('event moved');
        },
        eventClick: function () {
          console.log('event clicked');
        }
      });
    });
  </script>

  <link rel="stylesheet" href="style/app.css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          
          <div class="navbar-header">
            
            <a href="" class="navbar-brand">
              <span class="logo"></span>
            </a>

          </div> <!-- navbar-header -->

          <a href="/signout" class="pull-right logout"> <i class="fa fa-power-off"></i> Log out</a>

        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <%= user.username %>  

        <form class="form form-alerts hide" method="post" action="/api/1/alerts" >
          
          <div class="row">
            <div class="col-md-3">
              <input type="text" name="number" id="number" value="0040" class="form-control">
            </div>

            <div class="col-md-3">
              <input type="text" name="date" id="date" value="in 10 seconds" class="form-control">
            </div>

            <div class="col-md-3">
              <input type="text" name="message" id="message" value="test" class="form-control">
            </div>

            <div class="col-md-3">
              <button type="submit" class="btn btn-primary">
                Save
              </button>
            </div>
          </div>

        </form>

        <div id="calendar"></div>
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>
                Date
              </td>
              <td>
                Number
              </td>
              <td>
                Message
              </td>
              <td>
                Sent
              </td>
            </tr>
          </thead>
          <tbody>
            <% alerts.forEach(function(alert, index) { %>

              <tr>
                <td>
                  <%= alert.date %>
                </td>
                <td>
                  <%= alert.number %>
                </td>
                <td>
                  <%= alert.message %>
                </td>
                <td>
                  <%= alert.sent %>
                </td>
              </tr>

            <% }) %>
          </tbody>
        </table>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->
  

</body>
</html>
