<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>
    Apunto Dashboard
  </title>
  
  <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Gloria+Hallelujah" type="text/css">
  <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type='text/css'>
  <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.css">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="/bower_components/intl-tel-input/build/css/intlTelInput.css">
  <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css" type="text/css">
  <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.css" type="text/css">
  <link rel="stylesheet" href="style/app.css">
</head>

<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          
          <div class="navbar-header">
            
            <a href="/dashboard" class="navbar-brand">
              <span class="logo"></span>
            </a>

          </div> <!-- navbar-header -->

          <a href="/auth/signout" class="pull-right btn btn-default btn-logout" title="Log out"><i class="fa fa-power-off"></i></a>

          <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <%= user.name %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/settings/account"><i class="fa fa-cog"></i> Settings</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/auth/signout"> <i class="fa fa-power-off"></i> Log out</a></li>
            </ul>
          </div>

        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </nav>
        
  <div class="calendar" data-calendarid="<%= calendar._id %>" data-companyname="<%= user.companyName %>" data-username="<%= user.name %>" data-template="<%= user.template %>" >
    
  </div>

  <div class="contacts-list" data-userid="<%= user._id %>" >

    <div class="contacts-list-header">
      <a href="" class="btn btn-primary btn-new-contact"><i class="fa fa-plus-circle"></i> Create new contact</a>
    </div>
        
    <div class="contacts-list-content">
    </div>
    
  </div>


  <div class="modal" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      
        <div class="modal-content">
          
        </div> <!-- modal-content -->
      
    </div>
  </div>

  <div class="modal" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      
        <div class="modal-content">
          
        </div> <!-- modal-content -->
      
    </div>
  </div>

  <!-- BEGIN JIVOSITE CODE {literal} -->
  <!-- <script type='text/javascript'>
  (function(){ var widget_id = 'CrZt9f212R';
  var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script> -->
  <!-- {/literal} END JIVOSITE CODE -->

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2294103-9', 'auto');
  ga('send', 'pageview');

</script>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/jquery-ui/ui/core.js"></script>
  <script src="bower_components/jquery-ui/ui/widget.js"></script>
  <script src="bower_components/jquery-ui/ui/mouse.js"></script>
  <script src="bower_components/jquery-ui/ui/draggable.js"></script>
  <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/ejs/ejs.js"></script>
  <script src="bower_components/intl-tel-input/build/js/intlTelInput.js"></script>
  <script src="bower_components/list.js/dist/list.js"></script>
  <script src="bower_components/select2/dist/js/select2.js"></script>

  <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/contacts.js"></script>
  <script src="scripts/search-drag-drop.js"></script>

</body>
</html>
